<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
    <meta name="author" content="order by dede58.com/"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <link href="../css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="../css/common.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css"/>
    <link rel="stylesheet" href="https://v40.pingendo.com/assets/4.0.0/default/theme.css" type="text/css"/>
    <script src="../js/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="../js/jquery.SuperSlide.2.1.1.js" type="text/javascript"></script>
    <script src="../js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../js/common.js" type="text/javascript"></script>
    <script src="../js/layui/layui.js" type="text/javascript"></script>
    <script src="../js/offlights.js" type="text/javascript"></script>
    <script src="../js/jquery.nicescroll.js " type="text/javascript"></script>
    <script src="../js/playback_page.js " type="text/javascript"></script>
    <title>详细介绍</title>
</head>
<body>
<div style="height: 100%">
    <!--视频播放-->
    <div class="Video_playback_style">
        <div class="page_style clearfix">
            <!---->
            <div class="Video_playback">
                <div class="playback_title">如果我爱你未删减版 第1集
                </div>
                <embed src='http://player.youku.com/player.php/sid/XMzc1NjEzNDk2NA==/v.swf' allowFullScreen='true' quality='high' width='885' height='480' align='middle' allowScriptAccess='always' type='application/x-shockwave-flash'></embed>
            </div>
        </div>
    </div>
    <div class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-primary" id="mark">评分 </button>
                    <button class="btn btn-primary" id="comment">评论 </button>
                    <button class="btn btn-primary" id="collection">收藏 </button>
                    <button class="btn btn-primary" id="share">分享 </button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>